<h4>Comments</h4>

<form {{action 'create' on='submit'}}>
  <p>{{textarea value=body}}</p>
  <button>Submit</button>
</form>

{{#each}}
<div class="comment">
  {{body}}
</div>
{{else}}
<p>There are no comments</p>
{{/each}}
