<h1>Stories</h1>

<ul>
  {{#each}}
    <li>
      {{#link-to 'story' this}}
        {{title}}
      {{/link-to}}
      <button {{action 'delete' this}}>X</button>
    </li>
  {{/each}}
</ul>

<p>
  {{#link-to 'stories.new'}}Create a new story{{/link-to}}
</p>
{{outlet}}
